<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="joke-container">
        <div id="logo">
          <img src="/images/fathom-logo-white.svg" alt="">
        </div>
        <div class="jokes-buttons">
          <input onclick="showJoke()" type="button" class="btn btn-primary" value="Click For Joke">
        </div>
        <div class="joke"></div>
        <div class="punchline"></div>
        <div class="joke-gif"></div>
      </div>
    </div>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="/javascripts/insert-jokes.js"></script>
</html>
